# See http://help.github.com/ignore-files/ for more about ignoring files.




# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
e2e/allure-results/
.DS_Store
Thumbs.db
e2e/allure-results/7bfc7856-4888-4e83-a7fc-63d6773697bd-testsuite.xml
e2e/target/screenshots/3e9785c17032736e487ce78ac490b550.png
e2e/target/screenshots/af910928882f68781560e0a21ffb4989.png
e2e/xmlresults.xml
e2e/allure-results/27e5f633-63b2-4ecd-9890-55bf629b598a-testsuite.xml
e2e/allure-results/27305bb1-3cb0-41c9-8ecf-1858c75e0e4f-testsuite.xml
e2e/allure-results/e9163885-8ace-4976-a9a0-341abc2dd7a1-testsuite.xml
e2e/screenshots/chrome-prueba1 test para calculadora de github test 2.png
e2e/target/screenshots/5f5bace9610c5a92e69db8c9cfdc0848.png
e2e/target/screenshots/5f3178ad972d944ad0396588c8d1aaa5.png
e2e/target/screenshots/874d3e085beb0b9a2c6355da78e038a8.png
e2e/target/screenshots/b6018775b4f443869c745db768ce4486.png
e2e/target/screenshots/ff55ec3b7f6a0f13272d0958483d72b5.png
