# See http://help.github.com/ignore-files/ for more about ignoring files.


e2e/allure-results/
e2e/screenshots/
e2e/target/

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
e2e/allure-results/7bfc7856-4888-4e83-a7fc-63d6773697bd-testsuite.xml
e2e/target/screenshots/3e9785c17032736e487ce78ac490b550.png
e2e/target/screenshots/af910928882f68781560e0a21ffb4989.png
e2e/xmlresults.xml
